@import "@rolemodel/optics/dist/scss/optics.scss";

.game-page {
    --gf-panel-width: calc(100 * var(--op-size-unit));
    --gf-panel-height: calc(65 * var(--op-size-unit));
    --gf-header-padding: calc(5 * var(--op-size-unit));

    display: grid;
    grid-template-areas:
        "game-board game-feed"
        "your-hand your-books";
    grid-template-columns: 1fr var(--gf-panel-width);
    grid-template-rows: 1fr var(--gf-panel-height);
    height: 100vh;
    overflow: auto;
}

// modifiers
.panel--game-board {
    grid-area: game-board;
}

.panel--game-feed {
    grid-area: game-feed;
    background-color: var(--op-color-primary-plus-eight);
}

.panel--your-hand {
    grid-area: your-hand;
}

.panel--your-books {
    grid-area: your-books;
    background-color: var(--op-color-neutral-plus-eight);
}