@import "@rolemodel/optics/dist/scss/optics.scss";

.game-page {
    --gf-panel-width: calc(100 * var(--op-size-unit));
    --gf-panel-height: calc(65 * var(--op-size-unit));
    --gf-header-padding: calc(5 * var(--op-size-unit));

    display: grid;
    grid-template-areas:
        "game-board game-feed"
        "your-hand your-books";
    grid-template-columns: 1fr var(--gf-panel-width);
    grid-template-rows: 1fr var(--gf-panel-height);
    height: 100vh;
    overflow: auto;
}

// first level blocks
.your-books,
.your-hand {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
}

.your-hand,
.your-books {
    display: flex;
    padding-bottom: var(--op-space-x-small);
    flex-direction: column;
    gap: var(--op-space-medium);
}

.your-hand {
    grid-area: your-hand;
    box-shadow: var(--op-border-top) var(--op-color-border);
}

.your-books {
    grid-area: your-books;
    background: var(--op-color-neutral-plus-eight);
    box-shadow: var(--op-border-top) var(--op-color-border);
    box-shadow: var(--op-border-left) var(--op-color-border);
}


// block headers
.your-header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    box-shadow: var(--op-border-bottom) var(--op-color-border);
    padding-inline: var(--op-space-medium);
    padding-top: var(--op-space-small);
    padding-bottom: var(--op-space-x-small);
    box-shadow: var(--op-border-bottom) var(--op-color-border);
    font-size: var(--op-font-large);
    color: var(--op-color-primary-on-plus-eight-alt);
}