@import "@rolemodel/optics/dist/scss/optics.scss";

:root[data-theme='figma-dominic'] {
  --op-input-height-small: 4rem;
  --op-input-height-medium: 5rem;
  --op-input-height-large: 6rem;
  --op-input-height-x-large: 8.4rem;

  --op-radius-small: 0px;
  --op-radius-medium: 0px;
  --op-radius-large: 0px;
  --op-radius-x-large: 0px;
  --op-radius-2x-large: 0px;

  --op-space-3x-small: calc(var(--op-space-scale-unit) * 0.4);
  --op-space-2x-small: calc(var(--op-space-scale-unit) * 0.8);
  --op-space-x-small: calc(var(--op-space-scale-unit) * 1.6);
  --op-space-small: calc(var(--op-space-scale-unit) * 2.4);
  --op-space-medium: calc(var(--op-space-scale-unit) * 3.2);
  --op-space-large: calc(var(--op-space-scale-unit) * 4);
  --op-space-x-large: calc(var(--op-space-scale-unit) * 4.8);
  --op-space-2x-large: calc(var(--op-space-scale-unit) * 5.6);
  --op-space-3x-large: calc(var(--op-space-scale-unit) * 8);
  --op-space-4x-large: calc(var(--op-space-scale-unit) * 16);

  --op-color-primary-h: 156;
  --op-color-primary-s: 58;
  --op-color-primary-l: 38;

  --op-color-neutral-h: 156;
  --op-color-neutral-s: 4;
  --op-color-neutral-l: 38;
}

.app-body {
  overflow: auto;
}

.game-page {
  --gf-panel-width: calc(100 * var(--op-size-unit));
  --gf-panel-height: calc(65 * var(--op-size-unit));
  --gf-header-padding: calc(5 * var(--op-size-unit));

  display: grid;
  grid-template-areas:
    "game-baord game-feed"
    "your-hand your-books";
  grid-template-columns: 1fr var(--gf-panel-width);
  grid-template-rows: 1fr var(--gf-panel-height);
  height: 100vh;
  overflow: auto;

  background: var(--op-color-neutral-plus-max);
}

// first level blocks
.game-board,
.game-feed,
.your-books,
.your-hand {
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
}

.game-board,
.game-feed {
  --game-header-height: calc(15 * var(--op-size-unit));
  grid-template-rows: var(--game-header-height) 1fr;
}

.your-books,
.your-hand {
  display: flex;
  padding-bottom: var(--op-space-x-large);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--op-space-medium);
  flex-shrink: 0;
}

.game-board {
  grid-area: game-baord;
}

.game-feed {
  grid-area: game-feed;
  box-shadow: var(--op-border-left) var(--op-color-border);
  background: var(--op-color-primary-plus-eight);
}

.your-hand {
  grid-area: your-hand;
  box-shadow: var(--op-border-top) var(--op-color-border);
}

.your-books {
  grid-area: your-books;

  display: flex;
  padding-bottom: var(--op-space-x-small);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--op-space-medium);
  flex-shrink: 0;

  box-shadow: var(--op-border-top) var(--op-color-border);
  box-shadow: var(--op-border-left) var(--op-color-border);
  background: var(--op-color-neutral-plus-eight);
}

// block headers
.game-header,
.your-header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  box-shadow: var(--op-border-bottom) var(--op-color-border);
  padding-inline: var(--op-space-medium);
  padding-top: var(--op-space-small);
  padding-bottom: var(--op-space-x-small);
}

.your-header {
  display: flex;
  padding: var(--op-space-small) var(--op-space-medium) var(--op-space-x-small) var(--op-space-medium);
  align-items: flex-end;
  align-self: stretch;

  border-bottom: var(--op-border-width) solid var(--op-color-border-color);
}

.go-back {
  gap: var(--op-space-x-small);
  padding-block: var(--op-space-2x-small);
  padding-inline: var(--op-space-medium);

  border-bottom: var(--op-border-width) solid var(--op-color-border-color);
}

.show-turn {
  display: flex;
  height: var(--op-navbar-height);
  padding: var(--op-space-small) var(--op-space-medium) var(--op-space-x-small) var(--op-space-medium);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.your-header__text,
.game-header__text {
  color: var(--op-color-neutral-on-plus-eight-alt);
  font-size: var(--op-font-large);
}

.game-feed__text {
  color: var(--op-color-primary-on-plus-eight-alt);
}

.badge-info {
  display: flex;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  border-radius: var(--op-radius-medium);
  border: var(--op-border-width-x-large) solid var(--op-color-neutral-plus-max);
  background: var(--op-color-primary-base);
}

// block content

.feed-section,
.player-decks,
.your-hand__cards,
.your-books__cards {
  overflow: auto;
}

// game board content
.player-decks {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
  padding-inline: var(--op-space-3x-large);
  padding-top: var(--op-space-2x-large);
  padding-bottom: var(--op-space-4x-large);
}

.player-decks-heading {
  font-size: var(--op-font-large);
}

// accordion container
.player-hands {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
}

// individual accordion
.player-hand {
  display: flex;
  max-width: var(--op-breakpoint-medium);
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

// accordion header
.accordion summary {
  display: flex;
  height: var(--op-input-height-large);
  padding: 0px var(--op-space-medium) 0px var(--op-space-x-small);
  align-items: center;
  gap: var(--op-space-x-large);
  align-self: stretch;

  border-radius: var(--op-radius-medium) var(--op-radius-medium) 0px 0px;
  border: var(--op-border-width) solid var(--op-color-primary-plus-four);
  background: var(--op-color-primary-plus-eight);
}

.name {
  display: flex;
  align-items: center;
  gap: var(--op-space-x-small);
  flex: 1 0 0;
}

.player-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--op-space-x-large);
}

.name span,
.cards,
.books {
  font-size: var(--op-font-medium);
  color: var(--op-color-primary-on-plus-eight);
}

// accordion contents
.player-cards {
  display: flex;
  padding: var(--op-space-small) var(--op-space-medium);
  align-items: flex-start;
  gap: var(--op-space-x-large);
  align-self: stretch;

  overflow: auto;

  border-radius: 0px 0px var(--op-radius-medium) var(--op-radius-medium);
  border-right: var(--op-border-width) solid var(--op-color-primary-plus-four);
  border-bottom: var(--op-border-width) solid var(--op-color-primary-plus-four);
  border-left: var(--op-border-width) solid var(--op-color-primary-plus-four);
  background: var(--op-color-neutral-plus-eight);
}

.hand {
  flex: 1 0 0;
}

.books {
  justify-content: flex-end;
}

// game feed content
.feed-section {
  display: flex;
  padding: var(--op-space-medium);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

// feed content
.feed-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--op-space-x-small);
  align-self: stretch;
  overflow: auto;
}

.player-action {
  display: flex;
  width: auto;
  padding: var(--op-space-small);
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  border-radius: var(--op-radius-x-large);
  background: var(--op-color-primary-plus-five);
  color: var(--op-color-primary-on-plus-five-alt);
}

.action-responses {
  display: flex;
  padding: 0px var(--op-space-small);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--op-space-x-small);
  align-self: stretch;
}

.first-response,
.second-response {
  display: flex;
  align-items: center;
  gap: var(--op-space-x-small);
  align-self: stretch;
}

.first-response-message,
.second-response-message {
  display: flex;
  padding: var(--op-space-small);
  align-items: center;
  flex: 1 0 0;
}

.first-response-message {
  border-radius: var(--op-radius-x-large);
  border: var(--op-border-width) solid var(--op-color-alerts-warning-plus-five);
  background: var(--op-color-alerts-warning-plus-seven);
  color: var(--op-color-alerts-warning-on-plus-seven-alt);
}

.second-response-message {
  border-radius: var(--op-radius-x-large);
  border: var(--op-border-width) solid var(--op-color-primary-plus-seven);
  background: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);
}

// game actions
.game-actions {
  display: flex;
  padding: var(--op-space-small);
  flex-direction: column;
  gap: var(--op-space-small);
  align-self: stretch;

  border-radius: var(--op-radius-x-large);
  border: var(--op-border-width) solid var(--op-color-primary-plus-six);
  background: var(--op-color-primary-plus-seven);
}

.action-options {
  display: flex;
  align-items: flex-end;
  gap: var(--op-space-small);
  align-self: stretch;
}

.card-form,
.player-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.form-label {
  color: var(--op-color-primary-on-plus-seven);
  font-size: var(--op-font-x-small);
}

.form-controls {
  display: flex;
  height: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  border-radius: 4px;
}

// Your hand content
.your-hand__cards,
.your-books__cards {
  display: flex;
  padding: 0px var(--op-space-medium);
  overflow: auto;
}

// all card stack and card content
.card-stack {
  display: flex;

  >*:not(:first-child) {
    margin-left: calc(-.5 * var(--op-space-2x-large));
  }

  overflow: auto;
}

.card {
  border-radius: var(--op-radius-large);
  border: var(--op-border-width) solid var(--op-color-primary-base);
  box-shadow: var(--op-shadow-x-large);
}