@import "@rolemodel/optics/dist/scss/optics.scss";

.panel--game-board {
    grid-area: game-board;

    .panel__header--game-board {
        gap: var(--op-space-x-small);
        padding-block: var(--op-space-2x-small);

        span {
            font-size: var(--op-font-large);
        }
    }
}