@import "@rolemodel/optics/dist/scss/optics.scss";

.your-books {
    grid-area: your-books;
    background: var(--op-color-neutral-plus-eight);
    box-shadow: var(--op-border-top) var(--op-color-border);
    box-shadow: var(--op-border-left) var(--op-color-border);

    overflow: auto;

    display: flex;
    padding-bottom: var(--op-space-x-small);
    flex-direction: column;
    gap: var(--op-space-medium);

    .your-header {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
        box-shadow: var(--op-border-bottom) var(--op-color-border);
        padding-inline: var(--op-space-medium);
        padding-top: var(--op-space-small);
        padding-bottom: var(--op-space-x-small);
        box-shadow: var(--op-border-bottom) var(--op-color-border);
        font-size: var(--op-font-large);
        color: var(--op-color-primary-on-plus-eight-alt);
    }
}