@import "@rolemodel/optics/dist/scss/optics.scss";

// block content


// game board content
.player-decks {
  gap: var(--op-space-x-small);
  padding-inline: var(--op-space-3x-large);
  padding-top: var(--op-space-2x-large);
  padding-bottom: var(--op-space-4x-large);
}

.player-decks-heading {
  font-size: var(--op-font-large);
}

// accordion container
.player-hands {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
}

// individual accordion
.player-hand {
  display: flex;
  max-width: var(--op-breakpoint-medium);
  flex-direction: column;
  align-items: center;
}

// accordion header
.accordion summary {
  display: flex;
  height: var(--op-input-height-large);
  padding-inline: var(--op-space-medium) var(--op-space-x-small);
  align-items: center;
  gap: var(--op-space-x-large);

  border-radius: var(--op-radius-medium) var(--op-radius-medium) 0px 0px;
  box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  background: var(--op-color-primary-plus-eight);
}

.name {
  display: flex;
  align-items: center;
  gap: var(--op-space-x-small);
  flex: 1 0 0;
}

.player-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--op-space-x-large);
}

.name span,
.cards,
.books {
  font-size: var(--op-font-medium);
  color: var(--op-color-primary-on-plus-eight);
}

// accordion contents
.player-cards {
  display: flex;
  padding: var(--op-space-small) var(--op-space-medium);
  gap: var(--op-space-x-large);
  align-self: stretch;

  overflow: auto;

  border-bottom-left-radius: var(--op-radius-medium);
  border-bottom-right-radius: var(--op-radius-medium);
  box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  background: var(--op-color-neutral-plus-eight);
}

.card-stack--hand {
  flex: 1 0 0;
}

.books-container {
  display: flex;
  justify-content: flex-end;
  overflow: auto;
  min-width: 25%;
  flex: 0 1 0;
}

.card-stack--books {
  height: 80%;
}




// game actions
.game-actions {
  display: flex;
  padding: var(--op-space-small);
  flex-direction: column;
  gap: var(--op-space-small);

  border-radius: var(--op-radius-x-large);
  box-shadow: var(--op-border-all) var(--op-color-primary-plus-six);
  background: var(--op-color-primary-plus-seven);
}

.action-options {
  display: flex;
  gap: var(--op-space-small);
}

.card-form,
.player-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1 0 0;
}

.form-label {
  color: var(--op-color-primary-on-plus-seven);
  font-size: var(--op-font-x-small);
}

.form-controls {
  display: flex;
  height: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 4px;
}

// Your hand content
.your-hand__cards,
.your-books__cards {
  padding-inline: var(--op-space-medium);
}

// all card stack and card content
.card-stack {
  display: flex;

  >*:not(:first-child) {
    margin-left: calc(-.5 * var(--op-space-2x-large));
  }

  overflow: auto;
}

.playing-card {
  border-radius: var(--op-radius-large);
  box-shadow: var(--op-border-all) var(--op-color-primary-base);
  box-shadow: var(--op-shadow-x-large);
}