@import "@rolemodel/optics/dist/scss/optics.scss";

.panel--game-feed {
    grid-area: game-feed;
    background-color: var(--op-color-primary-plus-eight);

    .panel__header--game-feed {
        justify-content: space-between;

        span {
            color: var(--op-color-primary-on-plus-eight-alt);
        }

        .turn-info-badge {
            display: flex;
            padding: 4px 8px;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;

            border-radius: var(--op-radius-medium);
            box-shadow: var(--op-border-all) var(--op-color-neutral-plus-max);
            background-color: var(--op-color-primary-base);
        }
    }

    .panel__content--game-feed {
        justify-content: space-between;
    }
}