@import "@rolemodel/optics/dist/scss/optics.scss";

.panel--your-books {
    grid-area: your-books;
    background: var(--op-color-neutral-plus-eight);

    .panel__header--your-books span {
        font-size: var(--op-font-large);
        color: var(--op-color-primary-on-plus-eight-alt);
    }
}