@import "@rolemodel/optics/dist/scss/optics.scss";

.panel--your-hand {
    grid-area: your-hand;

    .panel__header--your-hand {
        font-size: var(--op-font-large);
        color: var(--op-color-primary-on-plus-eight-alt);
    }

    .panel__content--your-hand {
        padding-bottom: var(--op-space-x-small);
    }
}